@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700;800&display=swap');


nav {
    opacity: 0;
    font-family: 'Raleway', sans-serif;
}


.nav-link:hover {
    color: white;
}

ul {
    list-style: none;
}



section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 60px;
}

.grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;
}

section h3.title {
    text-transform: capitalize;
    font: bold 32px "Open Sans", sans-serif;
    margin-bottom: 30px;
    text-align: center;
}

section p {
    line-height: 2;
    padding: 0 20px;
    margin-bottom: 30px;
    text-align: center;
}

@media (max-width: 800px){
    section {
        padding: 50px 20px;
    }
}

hr {
    width: 250px;
    height: 3px;
    background-color: black;
    border: 0;
    margin-bottom: 50px;
}

/* Hero styles */

.hero {
    position: relative;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    color: white;
}

.hero .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url("../images/20210418_115528 1.jpg"); /* try to find a better image */
    z-index: -1;
}

.hero h1 {
    font: bold 60px 'Raleway', sans-serif;
    margin-bottom: 15px;
}

.hero-content-area {
    opacity: 0;
    margin-top: 100px;
    background-color: rgba(138, 138, 247, 0.089);
    animation: 1s slidefade 1s forwards;
}

@keyframes slidefade {
    100% {
        opacity: 1;
        margin: 0;
    }
}

@media (max-width: 800px){
    .hero {
        min-height: 600px;
    }

    .hero h1 {
        font-size: 48px;
    }

    .hero h3 {
        font-size: 24px;
    }
}

/* hero-about styles */

.hero-about{
    position: relative;
    min-height: 100vh;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: large;
}

.hero-about img {
    height: 20rem;
}

.hero-about p {
    max-width: 775px;
}

@media (max-width: 800px){
    .hero-about {
        font-size: medium;
    }
    
    .hero-about img {
        height: 10rem;
    }
}

/* Interests styles */

.interests .grid li {
    padding: 50px;
    flex-basis: 50%;
    text-align: center;
}

.interests .grid li i {
    color: black;
}

.interests .grid li i:hover{
    color: blue;
}

.interests .grid li h4{
    font-size: 30px;
    margin: 25px 0;
}

@media (max-width: 800px){
    .interests .grid li {
        flex-basis: 100%;
        padding: 20px;
    }
}

/* hero-unity styles */

.hero-unity {
    position: relative;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
}

.hero-unity .grid li {
    padding: 50px;
    flex-basis: 30%;
    text-align: center;
}

@media (max-width: 800px){
    .hero-unity .grid li {
        flex-basis: 100%;
        padding: 20px;
    }
}
